Repository kol-oss/database-coursework, pull requests merged in 2023-09, with the labels that each got.

#1 Analyze the state of the art, prepare "Comparative characteristics of the existing means of performing the task"
  docs/requirements/state-of-the-art.md
Labels: documentation, enhancement

#2 Prepare detailed characteristics for "Microsoft Project", "ClickUp", "Monday.com"
  docs/requirements/state-of-the-art.md
Labels: documentation, enhancement, state of the art

#3 Add full introduction
  docs/requirements/state-of-the-art.md
Labels: state of the art

#4 Add detailed characteristics for "JIRO", "Asana", "Nifty"
  docs/requirements/state-of-the-art.md
Labels: documentation, state of the art

#5 Add detailed characteristics for 'Github Projects', 'Notion', 'Trello'
  docs/requirements/state-of-the-art.md
Labels: state of the art

#11 Add structure to methodologies description chapter
  docs/requirements/state-of-the-art.md
Labels: documentation, state of the art

#13 Add description for "DevOps", "MVC", "CI/CD" methodologies and general stages
  docs/requirements/state-of-the-art.md
Labels: documentation, state of the art

#15 Add characteristics of 'Versys'
  docs/requirements/state-of-the-art.md
Labels: documentation, enhancement, state of the art

#16 Add "Spiral", "V", "RAD" and "Scrum" methodologies
  docs/requirements/state-of-the-art.md
Labels: documentation, state of the art

#17 Add description for "Waterfall", "Incremental", "Iterative" and "Agile" methodologies
  docs/requirements/state-of-the-art.md
Labels: documentation, state of the art

#18 Add terms definitions
  docs/requirements/state-of-the-art.md
Labels: documentation, state of the art

#19 Change Intro page description
  docs/intro/README.md
Labels: documentation, enhancement

#21 Add conclusions and links to sources
  docs/requirements/state-of-the-art.md
Labels: documentation, enhancement, state of the art

#23 Fix characteristics of 'Versys'
  docs/requirements/state-of-the-art.md
Labels: state of the art

#24 Fix links and sources
  docs/requirements/state-of-the-art.md
Labels: documentation, enhancement, state of the art
