Repository kol-oss/database-coursework, pull requests merged in 2023-10, with the labels that each got.

#25 Add FURPS description
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#34 Add Use cases templates
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#33 Add functionality requirements
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#35 Add product review
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#37 Add use cases: CreateTask, EditTask, SetTaskDeadlineNotif
  docs/requirements/stakeholders-needs.md
Labels: stakeholders needs

#39 Add use cases: CreateProject, EditProject, DeleteProject
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#40 Add terms and sources
  docs/requirements/stakeholders-needs.md
Labels: stakeholders needs

#41 Add full introduction
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#45 Add introduction, business-actors and business-workers characteristics
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#48 Add use-cases: SignUpAccount, LogIntoAccount, EditAccount
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#44 Add use-cases: DeleteTask, BanUser, UnbanUser
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#50 Add use cases and change a few links to main definitions
  docs/requirements/stakeholders-needs.md
Labels: stakeholders needs

#54 described WriteToSupport, BlockProject and UnblockProject use cases
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#55 Add use cases: CreateBoard, DeleteBoard, EditSystemSettings
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#51 Fix some use cases and functionality characteristics
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#57 Delete extra text
  docs/requirements/stakeholders-needs.md
Labels: documentation, stakeholders needs

#58 Add a template for the model of precedents
  docs/use cases/README.md
Labels: documentation, model of precedents

#59 Add visualization of use cases: CreateTask, EditTask, SetTaskDeadlineNotif
  docs/use cases/README.md
Labels: documentation, model of precedents

#61 Add visualization of use cases: ApplyTemplateToProject, CreateProjectTemplate, DeleteProjectTemplate
  docs/use cases/README.md
Labels: documentation, model of precedents

#74 Add visualization of use cases: CreateProject, EditProject, DeleteProject
  docs/use cases/README.md
Labels: documentation, model of precedents

#73 Add visualization of use-cases: SignUpAccount, LogIntoAccount, EditAccount
  docs/use cases/README.md
Labels: documentation, model of precedents

#75 Add project manager scheme visualization
  docs/use cases/README.md
Labels: documentation, model of precedents

#76 Add default user scheme visualization
  docs/use cases/README.md
Labels: documentation, model of precedents

#78 Add visualization of use cases: CreateBoard, DeleteBoard, EditSystemSettings
  docs/use cases/README.md
Labels: documentation, model of precedents

#77 Add use cases and diagram
  docs/use cases/README.md
Labels: documentation, model of precedents

#79 Add visualisation of use-cases: DeleteTask, BanUser, UnbanUser
  docs/use cases/README.md
Labels: documentation, model of precedents

#81 Add general scheme visualization
  docs/use cases/README.md
Labels: documentation, model of precedents

#82 Add visualization of use cases: WriteToSupport, BlockProject, UnblockProject
  docs/use cases/README.md
Labels: documentation, model of precedents
